In [40]:
!pip install -q tensorflow
!pip install -q tensorflow_ranking

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import os

PATH = os.getcwd()

In [42]:
import tensorflow_ranking as tfr
import tensorflow as tf
from tensorflow_serving.apis import input_pb2

## Import Tables

In [9]:
tables_names = ['big_log_ret','big_RCV'] #, 'big_RVT', 'big_positivePartscr', 'big_negativePartscr', 'big_splogscr', 'big_linscr']
tables_dict = {}
for name in tables_names:
    table = pd.read_csv(os.path.join(PATH, 'Tables', name+'.csv'))
    table['Date'] = pd.to_datetime(table['Date']).dt.date
    table.set_index('Date', inplace=True)
    tables_dict[name] = table

w_sent.to_csv(os.path.join(PATH,'Tables','big_{}.csv'.format(w_t_name))) #Store in csv format in the 'Tables' folder
tables_dict['big_RCV'].head()

,AAL,AAPL,ABBV,ABC,ABT,ADP,AIG,AMD,AMZN,AXP,...,UAL,UNH,UPS,USB,V,VZ,WFC,WMT,WY,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2012-01-08,54.733580,48.380133,NaN,65.547120,27.375300,NaN,NaN,NaN,40.688020,NaN,...,34.364357,NaN,39.591780,82.466700,NaN,37.274380,29.868883,33.745920,NaN,18.079986
2012-01-15,NaN,47.648250,NaN,52.639543,54.500400,NaN,34.078583,48.24400,64.369029,53.963917,...,35.314671,63.975633,48.553633,66.298814,34.397120,65.478033,58.864167,43.275140,NaN,14.451929
2012-01-22,46.533920,54.592783,NaN,46.323871,53.083133,NaN,38.472780,NaN,51.238817,47.179850,...,37.417229,39.147600,61.799500,54.161680,NaN,63.555560,45.811833,48.762014,NaN,27.629000
2012-01-29,61.440733,59.969157,NaN,58.877529,37.299460,70.67464,45.605017,NaN,52.332650,32.367800,...,33.507200,NaN,47.766960,57.530733,NaN,49.758420,30.632383,53.260180,NaN,28.641543
2012-02-05,NaN,45.843986,NaN,58.872640,39.915000,51.85292,46.007020,55.69945,44.701514,67.632367,...,37.830000,69.142433,39.716300,73.979850,31.954333,60.893186,59.940980,42.406833,15.7469,28.347643

## Merging Tables - Building the query-stock final table

In [38]:
final_table = tables_dict['big_log_ret'].stack() #Stack DF to a Series so that is grouped by Date and then by Ticker
final_table.index.names=('Query','Ticker') #Rename 'Date' to 'Query'
final_table = final_table.reset_index()
final_table.rename(columns={0: 'big_log_ret'}, inplace=True)
resting_tables_dict = dict(tables_dict) #Make a copy of the dictionary
del resting_tables_dict['big_log_ret'] #Remove the log_ret table

for i, t_name in enumerate(resting_tables_dict):
    table = tables_dict[t_name].stack()
    table.index.names=('Query','Ticker')
    table = table.reset_index()
    table.rename(columns={0: t_name}, inplace=True)
    final_table = pd.merge(final_table, table, on=['Query','Ticker'])

final_table

            Query Ticker  big_log_ret    big_RCV
0      2012-01-08    AAL     0.063980  54.733580
1      2012-01-08   AAPL    -0.006150  48.380133
2      2012-01-08    ABC    -0.020684  65.547120
3      2012-01-08    ABT     0.000864  27.375300
4      2012-01-08   AMZN    -0.023212  40.688020
...           ...    ...          ...        ...
35351  2021-11-28   TSLA    -0.063878  31.423967
35352  2021-11-28    TSN     0.021006  45.611180
35353  2021-11-28    UAL    -0.039827  14.679940
35354  2021-11-28    UPS    -0.022512  46.677617
35355  2021-11-28    USB    -0.033782  68.229333

[35356 rows x 4 columns]

In [ ]:
'''
Aqui tenemos q aÃ±adir un filtro para eliminar aquellas filas q tengan un NaN y tambien si queremos hacer algun preprocessing previo
'''

In [70]:
def fl_feature(value_list):
    """Returns a float_list from a float / double."""
    return tf.train.Feature(float_list=tf.train.FloatList(value=[value_list]))


{
  f"{final_table.columns[f_n+2]}":fl_feature((f_v))
      for (f_n, f_v) in enumerate(np.array(final_table)[1,2:])
}

{'big_log_ret': float_list {
   value: -0.00615044217556715
 },
 'big_RCV': float_list {
   value: 48.38013458251953
 }}

In [75]:
'''
Protobuffers are extensible structures suitable for storing data in a serialized format, either locally or in a distributed manner.
TF ranking has a couple of pre-defined protobufs such as ELWC which make it easier to integrate and formalize data ingestion into
the ranking pipeline.

Protocol buffers and the tf.data API is a set of utilities that provide a mechanism to read and store data for efficient loading
and preprocessing in a way that's fast and scalable.
'''

# Class I wrote to organize code resposible for parsing our dataframe data and 
# creating compressed TF-Records in ELWC protobuf format so that they used by 
# most rankers in TF-Ranking and be compatible with future rankers or new methods

class DFToELWCProto():
    """ Class to parse Dataframe ranking data in ELWC proto TFRecords"""
    
    def __init__(self, dir:str=".", use_compression:bool=False):
        assert isinstance(dir,str)
        if not os.path.isdir(dir):
            os.mkdir(dir)
        self.input_path = dir
        assert isinstance(use_compression,bool)
        self.compress = use_compression
        if self.compress:
            self.compress_type = 'GZIP'
        else:
            self.compress_type = None


    # Helper functions (see also https://www.tensorflow.org/tutorials/load_data/tf_records)
    def _bytes_feature(self,value_list):
        """Returns a bytes_list from a string / byte."""
        if isinstance(value_list, type(tf.constant(0))):
            value_list = value_list.numpy()
        return tf.train.Feature(bytes_list=tf.train.BytesList(value=[value_list]))

    def _float_feature(self,value_list):
        """Returns a float_list from a float / double."""
        return tf.train.Feature(float_list=tf.train.FloatList(value=[value_list]))

    def _int64_feature(self,value_list):
        """Returns an int64_list from a bool / enum / int / uint."""
        return tf.train.Feature(int64_list=tf.train.Int64List(value=[value_list]))


    def read_and_print_topn_tfrecord(self, target_filename, num_of_examples_to_read):
        filenames = [target_filename]
        tf_record_dataset = tf.data.TFRecordDataset(filenames,
                                                    compression_type=self.compress_type)

        for raw_record in tf_record_dataset.take(num_of_examples_to_read):
            example_list_with_context = input_pb2.ExampleListWithContext()
            example_list_with_context.ParseFromString(raw_record.numpy())
            print(example_list_with_context)

    def df_to_TFrecord(self, df, file_name):

        """ 
        for reading and converting directly from arrays in memory

        """    
        file_name = os.path.basename(file_name)

        if self.compress:
            print('Using GZIP compression for writing ELWC TFRecord Dataset')
            opts = tf.io.TFRecordOptions(compression_type = self.compress_type)
            file_name = f"{file_name}.gzipped_tfrecord"
        else:
            file_name = f"{file_name}.tfrecord"
        save_path = f"{self.input_path}/{file_name}"

        with tf.io.TFRecordWriter(f"{save_path}", options=opts) as writer:
            
            input_array = np.array(df)
            col_names = df.columns

            ELWC = input_pb2.ExampleListWithContext()
            prev_qid = None

            for i in range(input_array.shape[0]):

                qid, doc, r, features = str(input_array[i,0]), input_array[i,1], input_array[i,2], input_array[i,3:]

                example_proto_dict = {
                              f"{col_names[f_n+3]}":self._float_feature((f_v))
                                  for (f_n, f_v) in enumerate(features)
                          }
                example_proto_dict['rel'] = self._int64_feature(int(r))
                #example_proto_dict['doc_name'] = self._bytes_feature(str(doc))

                example_proto = tf.train.Example(
                            features=tf.train.Features(feature=example_proto_dict))
                if qid != prev_qid:
                    if prev_qid is not None:
                        writer.write(ELWC.SerializeToString())
                    prev_qid = qid
                    ELWC = input_pb2.ExampleListWithContext()
                    ELWC.examples.append(example_proto)
                else:
                    ELWC.examples.append(example_proto)

            # final write for the last query grp
            writer.write(ELWC.SerializeToString())

In [78]:
ELWC_converter = DFToELWCProto(dir ="./Tables/LTR-tfrecords",
                              use_compression=True)
ELWC_converter.df_to_TFrecord(final_table,"LTR_dataset")

Using GZIP compression for writing ELWC TFRecord Dataset

In [ ]:
# Store the paths to files containing training and test instances.
_DATA_PATH = f"./Tables/LTR-tfrecords.gzip_tfrecord"

# The maximum number of documents per query in the dataset.
# Document lists are padded or truncated to this size.
_LIST_SIZE = 200

# The document relevance label.
_LABEL_FEATURE_NAME = "rel"
_NUM_FEATURES = 136

# Padding labels are set negative so that the corresponding examples can be
# ignored in loss and metrics.
_PADDING_LABEL = -1

# Learning rate for optimizer.
_LEARNING_RATE = 0.05

# Parameters to the scoring function.
_BATCH_SIZE = 128
_DROPOUT_RATE = 0.5

# Location of model directory and number of training steps.
_MODEL_DIR = f"./Models/model_{dt.datetime.now().strftime('%m-%d-%Y_%H-%M-%S')}"

# setting as shell env for tensorboard stuff
os.environ["models_dir"] = _MODEL_DIR

In [86]:
def create_dataset_from_tfrecords(input_path:str,
                                  batch_sz:int,
                                  shuffle:bool = True,
                                  num_epochs:int = None,
                                  data_format:str = "ELWC",
                                  compression_type:str = ''):

    context_feature_columns, example_feature_columns = create_feature_columns()


    context_feature_spec = tf.feature_column.make_parse_example_spec(
      context_feature_columns.values())
    label_column = tf.feature_column.numeric_column(
      _LABEL_FEATURE_NAME, dtype=tf.int64, default_value=_PADDING_LABEL)
    example_feature_spec = tf.feature_column.make_parse_example_spec(
      list(example_feature_columns.values()) + [label_column])

    _reader_arg_list = []
    if compression_type:
        assert compression_type in ["", "GZIP","ZLIB"]
        _reader_arg_list = [compression_type]


    dataset = tfr.data.build_ranking_dataset(
      file_pattern=input_path,
      data_format=tfr.data.ELWC,
      batch_size=batch_sz,
      list_size=_LIST_SIZE,
      context_feature_spec=context_feature_spec,
      example_feature_spec=example_feature_spec,
      reader=tf.data.TFRecordDataset,
      reader_args= _reader_arg_list,
      shuffle=shuffle,
      num_epochs=num_epochs,
      )

    def _log1p_transform(features):
    '''computes elementwise log_e(|x|)*sign(x) '''
    transformed_feats = {
        f:tf.math.multiply(
            tf.math.log1p(
                tf.math.abs(features[f])
                ),
            tf.math.sign(features[f])
            )
        for f in features}
    return transformed_feats

    def _split_label_and_transform_features(features):
    label = tf.squeeze(features.pop(_LABEL_FEATURE_NAME), axis=2)
    label = tf.cast(label, tf.float32)
    features = _log1p_transform(features)

    return features, label

    dataset = dataset.map(_split_label_and_transform_features)

    return dataset

IndentationError: expected an indented block (Temp/ipykernel_72848/3741735708.py, line 38)